<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.luasbangunaplikasi" >

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.LuasBangunAplikasi" >
        <activity android:name=".splasscreen" />
        <activity
            android:name=".ButtomNavigation"
            android:exported="true" />
        <activity
            android:name=".lingkaran"
            android:exported="true" />
        <activity
            android:name=".persegipanjang"
            android:exported="true" />
        <activity
            android:name=".segitiga"
            android:exported="true" />
        <activity
            android:name=".persegi"
            android:exported="true" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".MainActivity" />
    </application>

</manifest>